/*Presentation*/

#Presentation{
    height:92vh;
    opacity: 0;
}

#Presentation {
    opacity: 0;
    transform: translateY(50px) scale(0.8);
    transition: opacity 0.3s, transform 0.3s;
  }
  
  #Presentation.is-reached {
    opacity: 1;
    transform: none;
  }
.Presentation__article{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column
}

.pp {
    display: flex;
    width: 128px;
    border-radius: 50%;
    margin-top: 50px;
}

.Presentation__texte{
    width: 78vh;
    text-align: center;
    font-family:'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

.Bouton{
    height: 34px;
    width: 34vw;
    background-color: white;
    border: 2px solid black;
}
.boupres__text{
    display: block;
    margin-top: 1vh;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    color: black;
}


.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 45px;
}

.Photo{
    height: 35vh;
    width: 30vw;
    border-radius:200px;
}

.mage{
    width: 400px;
    height: 100px;
    padding-top: 50px;
    background: red;
    text-align: center;
    color: #fff;
    font-size: 2.5em;
}

/*Realisation */

#realisation1{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 90vh;
}

.realisation__title{
    position: absolute;
    float: right;
    right: 34px;
    margin-left: 1vh;
    transform: rotate(90deg);

}

.realisation__clothes{
    max-width: 50%;
    margin: 0 auto;
}
.realisation_1__text{
    position: absolute;
    height: 39vh;
    width: 40%;
    background: white;
    float: left;
    margin-top: 34vh;
    margin-left: 34vh;
    border: 2px solid black;
}

/*Realisation2*/

#realisation_2{
    display: flex;
    height: 90vh;
}

.realisation_2_images{
    max-width: 40%;
    float: right;
    margin-right: 34vh;
}

.realisation_2__text{
    position: absolute;
    height: 30vh;
    width: 40%;
    background: white;
    float: left;
    border: 2px solid black;
    margin-top:35vh;
    margin-left: 31vh;
}

.realisation_2__title{
    position: absolute;
    transform: rotate(-90deg);
    float: left;
    left: 0;
    margin-top: 35vh;
}

.realisation_2__trait{
    position: absolute;
    height: 25vh;
    width: 1px;
    background: black;
    float: left;
    left: 110px;
}

/*Realisation 3*/


#realisation3{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 90vh;
}


.realisation__play{
    max-width: 50%;
    margin: 0 auto;
    margin-left: 35vh;
}
.realisation_3__text{
    position: absolute;
    height: 34vh;
    width: 40%;
    background: white;
    float: left;
    margin-top: 34vh;
    margin-left: 34vh;
    border: 2px solid black;
}

.realisation_3__title{
    transform: rotate(90deg);
    float: right;
    right: 0;
    margin-top: 34vh;
}

.realisation_3__trait{
    position: absolute;
    height: 24vh;
    width: 1px;
    background: black;
    float: right;
    right: 115px;
}

hr{
    width: 50%;
}

/*Contact*/

.logo_git{
    width: 60px;
    height: 60px;
}

.logo_git:hover{
    cursor: pointer;
}

.logo_linkedin{
    width: 60px;
    height: 60px;
}

.logo_linkedin:hover{
    cursor: pointer;
}

#contact{
    display: flex;
    justify-content: space-around;
    height: 20vh;
}

.contact_blocs{
    display: flex;
    flex-direction: column;
    margin:0 auto;
}
.contact_logo{
    display: flex;
    justify-content: space-around;
}

.contact_adresse{
    margin-top: 18vh;
}

h5{
    font-size: 25px;
}

.trait{
    position: absolute;
    height: 54vh;
    width: 1px;
    background: black;
    float: right;
    right: 56px;
}

.button1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 134px;
    margin: 0 auto;
    border: 2px solid black;
}

.button1:hover{
    color: white;
    cursor: pointer;
}

.button2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 134px;
    margin: 0 auto;
    border: 2px solid black;
}

.button2:hover{
    cursor: pointer;
}

.button3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 134px;
    margin: 0 auto;
    border: 2px solid black;
}

.button3{
    cursor: pointer;
}

button{
    display: flex;
    justify-content: center;
    text-decoration: none;
    background: white;
    border:2px solid black;
    margin: 0 auto;
    height: 34px;
    font-size: 19px;